---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import "../assets/app.css";
import Posts from "../components/Posts.astro";

const posts = await getCollection("blogCollection");

const sortedPosts = posts.sort((a, b) => {
	return (
		new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
	);
});
---

<Layout
	title="Blog"
	description="Browse all blog posts by Ricardo Guzman on software, AI, and personal learnings."
>
	<div class="flex flex-col items-center justify-center mt-[100px]">
		<Posts posts={sortedPosts} title="Blog Posts" />
	</div>
</Layout>
