---
import Layout from "../layouts/Layout.astro";
import "../assets/app.css";
---

<Layout
	title="Books"
	description="Books Ricardo Guzman is reading and recommendations."
>
	<div class="flex flex-col items-center justify-center mt-[100px] h-[80dvh]">
		<h1
			class="gradient-heading text-3xl text-center tracking-wide leading-[1.2] bg-gradient-to-r from-[#444] to-primary-dark-text dark:from-primary-dark-text dark:to-[#444] bg-clip-text text-transparent transition-all duration-75"
		>
			This page is being worked on...
		</h1>
	</div>
</Layout>
